@import "mixins";
$langages:"HTML5","CSS3","JAVA","REACT";
$background: #fdfdfd;
.text{
  background-color:$background ;
  color: background($background);
  font-size: 20px;
}
textarea,h1{
    @extend .text;
}
.btn {
  @include border();
}
.list {
  color: blue;
  @if first()=="HTML5"{
    display: none;
  }
}
@function background($color_back){
  @if $color_back!=#ffffff{
    @return #ffffff;
  }@else {
    @return #000000;
  }
}
@function first(){
  @return nth($langages,0);
}
@function last(){
  @return nth($langages,length($langages));
}